<!-- include header -->
<%- include('include/_header')%>
    <!-- /include header -->




    <!-- main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/" class="border-shadow">
                        <span>All Users</span>
                    </a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-center">New User</h2>
                <span class="text-light">Use below form to create new account</span>
            </div>
            <div class="container">
                <%- include('include/_form')%>
            </div>

        </div>
    </main>
    <!-- /main site -->





    <!-- include footer -->
    <%- include('include/_footer')%>
        <!-- /include footer -->